<hello name="{{ name }}"></hello>

<form>
     <fieldset>
       <legend>Cat form</legend>
       <p><label>Name</label>
         <input name="name"></p>
       <p><label>Age</label>
         <input name="age"></p>
       <p><label>Breed</label>
         <select name="breed">
           <option value="">--choose--</option>
           <option value="Persian">Persian</option>
           <option value="Bengal">Bengal</option>
           <option value="American Shorthair">American Shorthair</option>
         </select>
         </p>
         <p><label>Gender</label>
           <input type="radio" name="gender" value="male"> Male<br>
           <input type="radio" name="gender" value="female"> Female<br>
           <input type="radio" name="gender" value="other"> Other<br>  
         </p>
     </fieldset>
     <p><button type="submit" name="submit" value="Save" > Save </button></p>
   </form>
   